@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo&family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(239, 239, 239);
}

.custom-navbar {
    background-color: rgb(231, 231, 231);
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.custom-navbar .navbar-nav {
    padding-right: 100px;
    /* Add padding to move the menu to the left */
}

.custom-navbar .navbar-nav .nav-link {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
    position: relative;
}

.custom-navbar .navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.custom-navbar .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform-origin: left;
    /* This line ensures the effect expands from the left */
}

.custom-navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
}

.custom-navbar .logo-image {
    height: 120px;
    /* Adjust the height of the logo as needed */
    margin-left: 100px;
    /* Add some spacing between the logo and text */
}

/* Hero section styles */
.hero-image {
    background-image: url('https://res.cloudinary.com/dqe39dixt/image/upload/v1691332968/local-talk-hero_gxfxhm.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-image h1 {
    color: #fff;
    font-size: 104px;
    font-weight: bold;
}

.hero-image p {
    color: #fff;
    font-size: 36px;
}

/* static/css/style.css */
.track-title {
    font-size: 20px;
    margin-top: 20px;
    /* Adjust the font size as needed */
}

.download-link,
.vinyl-link {
    text-decoration: none;
    /* Remove underline */
    color: #555;
    /* Change text color to red (you can use any color code you prefer) */
    cursor: pointer;
    /* Change cursor to indicate a link */
}

.download-link:hover,
.vinyl-link:hover {
    text-decoration: none;
    /* Remove underline when hovering */
}

/* Style for the news section */
.latest-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for each news item */
.news-item {
    width: calc(100% - 10px);
    /* Increase width to 75% */
    height: 250px;
    overflow: auto;
    border: 2px solid #28a745;
    /* Green border */
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add drop shadow */
    transition: transform 0.3s ease;
}

.news-item:hover {
    transform: scale(1.05);
    /* Zoom in 5% */
}

/* Style for the news image */
.news-image {
    width: 200px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */
    float: left;
    margin-right: 10px;
}

/* Style for the news title */
.news-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Style for the news info */
.news-text p {
    margin-bottom: 10px;
    font-size: 14px;
}

/* Style for the read more link */
.news-text .read-more-link {
    color: #555;
    text-decoration: none;
}

/* Clear floats after each news item */
.news-item::after {
    content: "";
    display: table;
    clear: both;
}




/* Add custom styles for the Latest Releases section */

.latest-releases .track-item {
    position: relative;
}

.latest-releases .track-item a {
    position: relative;
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

.latest-releases .track-item a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #28a745;
    transition: width 0.3s;
}

.latest-releases .track-item a:hover::before {
    width: 100%;
}

.track-title {
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
}

/* ... Your existing CSS styles ... */

/* Styles for the download and vinyl links in the Latest Releases and Albums sections */

.green-line {
    height: 2px;
    background-color: #28a745;
    /* You can adjust the color as needed */
    margin: 30px 0;
    /* You can adjust the margin as needed to control the spacing */
}


/* Add custom styles for the Latest Releases and Albums sections */

.albums {
    margin-top: 50px;
    /* Adjust this value to set the desired space */
}

.singles-section {
    margin-top: 50px;
    /* You can adjust the value as needed */
}

.latest-releases .track-item,
.albums .track-item {
    position: relative;
}

/* Styles for the artist section */
.artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.artist-item {
    text-align: left;
    margin: 20px;
    transform: translateZ(0);
    /* Hardware acceleration */
    transition: transform 0.3s ease-in-out;
}

.artist-img {
    width: 200px;
    /* Set a fixed width for the images */
    height: 200px;
    /* Set a fixed height for the images */
    object-fit: cover;
}

.artist-item:hover {
    transform: scale(1.1);
    /* Zoom in the image on hover */
}

.artist-item h3 {
    font-size: 20px;
    margin-top: 15px;
}

/* styling for blog */

.blog-item {
    margin-bottom: 30px;
}

.blog-preview {
    display: flex;
}

.blog-info {
    margin-left: 10px;
}

.blog-image {
    max-width: 300px;
}

.read-more-link {
    cursor: pointer;
    color: #555;
    text-decoration: underline;
}

.blog-content {
    display: none;
    text-transform: none;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #218f3b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.link-button:hover {
    background-color: #218f3b;
}

.custom-blog-link .read-more-link {
    color: #333;
    text-decoration: none;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
    position: relative;
}

a.read-more-link {
    position: relative;
    text-decoration: none;
    color: #555;
}

a.read-more-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
    transform-origin: left;
}

a.read-more-link:hover {
    color: #555;
}

a.read-more-link:hover::after {
    width: calc(100% - 5px);
}

.article-content {
    margin-top: 10px;
}

a.custom-link {
    position: relative;
    text-decoration: none;
    color: #555;

}

a.custom-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
    transform-origin: left;
}

a.custom-link:hover {
    color: #555;
}

a.custom-link:hover::after {
    width: calc(100% - 5px);
}

.blog-content {
    margin-top: 10px;
}


/* Footer */
.custom-footer {
    background-color: rgb(216, 216, 216);
    padding: 30px 0;
    color: #555;
    display: flex;
    justify-content: space-between;
}

.custom-footer h5 {
    font-size: 20px;
    font-weight: bold;
}

.custom-footer p {
    font-size: 16px;
}

.custom-footer ul {
    padding-left: 0;
}

.custom-footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

.custom-footer ul li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-right: 10px;
    /* Add some space to the right of the link */
}

.custom-footer ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #28a745;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform-origin: left;
    visibility: hidden;
}

.custom-footer ul li a:hover::after {
    visibility: visible;
    width: 100%;
}

.custom-footer ul li a:hover {
    text-decoration: none;
}

/* Styles for social links (remove nav effect) */
.social-links {
    padding-left: 0;
}

.social-links li {
    list-style: none;
    margin-bottom: 10px;
}


/* Font Awesome icons */
i {
    margin-right: 5px;
}


/* styles.css */

/* Set the width and height of the artist images */
.artist-img {
    width: 200px;
    height: 200px;
}

/* Add this CSS in your CSS file or style block in the HTML template */

.custom-gap {
    padding: 5px;
}

.section-heading {
    margin-top: 20px;
    /* Adjust the value as needed */
}

.record-item {
    display: flex;
    align-items: left;
    padding: 5px;
    /* Reduced padding */
    /*border: 1px solid #ccc;*/
    transition: transform 0.3s ease-in-out;
}

.record-item:hover {
    transform: scale(1.1);
}

.record-content {
    display: flex;
    align-items: left;
    width: 50%;
}

.record-item img {
    max-width: 150px;
    max-height: 150px;
    /* Reduce image size */
    margin-right: 5px;
    /* Reduced margin */
}

.record-details {
    flex: 1;
}

.record-details p {
    margin: 0;
    font-size: 15px;
    /* Reduce font size */
}

.btn-primary {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    font-size: 16px;
    /* Reduce font size */
    padding: 5px 10px;
    /* Reduce padding */
    margin-top: 5px;
}

.btn-primary:hover {
    background-color: #218f3b;
}

@media (max-width: 1000px) {
    .latest-releases .track-item img,
    .albums .track-item img,
    .singles .track-item img {
        width: 150px;
        height: 150px;
    }

    .custom-navbar .logo-image {
    height: 80px;
    }

    .hero-image h1 {
        font-size: 80px;
        /* Reduce font size */
        margin-bottom: 10px;
        /* Add space below the heading */
    }

    .hero-image p {
        font-size: 24px;
        /* Reduce font size */
    }

        .news-item {
            width: calc(100% - 10px);
            /* You can adjust the width as per your design */
            height: 475px;
            border: 2px solid #28a745;
            padding: 10px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            
        }
    
        .news-item:hover {
            transform: scale(1.05);
        }
    
        /* Style for the news image */
        .news-image {
            width: 300px;
            height: 300px;
            float: none;
            margin-right: 0;
        }
    
        /* Style for the news title */
        .news-text h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }
    
        /* Style for the news info */
        .news-text p {
            margin-bottom: 10px;
            font-size: 14px;
        }
    
        /* Style for the read more link */
        .news-text .read-more-link {
            color: #555;
            text-decoration: none;
        }
    
        /* Clear floats after each news item */
        .news-item::after {
            content: "";
            display: table;
            clear: both;
        }


    .artist-item {
        margin: 10px;
        /* Reduce margin around artist items */
    }

    .albums,
    .singles-section {
        margin-top: 30px;
        /* Reduce top margin */
    }

    


@media screen and (min-width: 770px) {

    .custom-navbar .logo-image {
            height: 60px;
        }

    /* Style for the news section */
    .latest-news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Style for each news item */
    .news-item {
        width: calc(100% - 10px);
        /* You can adjust the width as per your design */
        height: 500px;
        border: 2px solid #28a745;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .news-item:hover {
        transform: scale(1.05);
    }

    /* Style for the news image */
    .news-image {
        width: 300px;
        height: 300px;
        float: none;
        margin-right: 0;
    }

    /* Style for the news title */
    .news-text h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    /* Style for the news info */
    .news-text p {
        margin-bottom: 10px;
        font-size: 14px;
    }

    /* Style for the read more link */
    .news-text .read-more-link {
        color: #555;
        text-decoration: none;
    }

    /* Clear floats after each news item */
    .news-item::after {
        content: "";
        display: table;
        clear: both;
    }

    .artist-container .row .col-md-3 {
        max-width: 50%;
    }
    
    .artist-img {
        width: 100%;
        height: auto;
    }

    .artist-item h3 {
        font-size: 16px;
    }

    .col-md-4 {
        max-width: 100%;
        flex-basis: 100%;
    }
        
    .btn-primary {
    font-size: 14px;
    padding: 3px 8px;
    }

    .record-details p {
        font-size: 18px;
   
    }    
                
}

@media screen and (max-width: 480px) {

    .custom-navbar .logo-image {
            height: 50px;
            margin-left: 50px;
        }

    .blog-preview {
        flex-direction: column;
        align-items: center;
    }

    .blog-info {
        margin-left: 0;
        text-align: center;
    }

    .blog-image {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .read-more-link {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .news-item {
        width: calc(100% - 10px);
        /* You can adjust the width as per your design */
        height: 325px;
        border: 2px solid #28a745;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .news-image {
        width: 150px !important;
        height: 150px !important;
        float: none;
        margin-right: 0;
    }
}

