

.record-listing-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.record-item {
    text-align: left;
    padding: 5px;
    border: 1px solid #ccc;
    /*flex-direction: column;*/
    /* Stack items vertically */
    /*transition: transform 0.3s ease-in-out;*/
}
.record-item:hover {
    /*transform: scale(1.1);*/
    /* Scale the record-item on hover */
}

