@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo&family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
}

.custom-navbar {
    background-color: #fff;
}

.custom-navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.custom-navbar .navbar-nav {
    padding-right: 100px;
    /* Add padding to move the menu to the left */
}

.custom-navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
    position: relative;
}

.custom-navbar .navbar-nav .nav-link:last-child {
    margin-right: 0;
}

.custom-navbar .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #59dd2d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform-origin: left;
    /* This line ensures the effect expands from the left */
}

.custom-navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
}

.custom-navbar .logo-image {
    height: 120px;
    /* Adjust the height of the logo as needed */
    margin-left: 100px;
    /* Add some spacing between the logo and text */
}

/* footer */ 
.custom-footer {
    background-color: green;
    padding: 30px 0;
    /* Add some padding to the top and bottom */
}

.custom-footer h5 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.custom-footer ul li a {
    color: #fff;
    text-decoration: none;
}