{% extends 'base.html' %}

{% block content %}
<div class="container artist-container">
    <h2>Artists</h2>
    <div class="row">
        {% for artist in artists %}
        <div class="col-md-3">
            <div class="artist-item">
                <img src="{{ artist.image.url }}" alt="{{ artist.name }}" class="artist-img">
                <h3>{{ artist.name }}</h3>
                <p>{{ artist.bio }}</p>
            </div>
        </div>
        {% empty %}
        <p>No artists to show.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}