{% load static %}
{% block extra_js %}{% endblock %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="local talk record label" content="independent house music label">
    <meta name="local, talk, house, music, deep, house, soulful, house" content="company, about us, team">

    <title>Local Talk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'css/new-style.css' %}" rel="stylesheet">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- Add the Bootstrap navigation bar here -->
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="https://res.cloudinary.com/dqe39dixt/image/upload/v1691332967/local-talk-logo_mhskfn.jpg" alt="LocalTalk Logo"
                class="logo-image">

            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artist-list' %}">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'record-list' %}">Releases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog-list' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

<!-- Hero section -->
<header class="hero-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Mats & Tooli are</p>
                <h1>Local Talk</h1>
            </div>
        </div>
    </div>
</header>

    <!-- Content of individual pages goes here -->
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

<!-- Footer section -->
<footer class="mt-5 custom-footer">
    <div class="container">
        <div class="row">
            <!-- Column 1 -->
            <div class="col-md-4 text-left">
                <h5>Contact:</h5>
                <p>123 Main Street, City, Country</p>
                <p>Email: contact@localtalk.com</p>
            </div>

            <!-- Column 2 -->
            <div class="col-md-4 text-left">
                <h5>Follow us:</h5>
                <ul class="social-links">
                    <li><a href="https://localtalk.bandcamp.com" target="_blank"><i class="fab fa-bandcamp"></i> Bandcamp</a></li>
                    <li><a href="https://www.instagram.com/localtalkrecords/?hl=en" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.facebook.com/LocalTalkRecords" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
                </ul>
            </div>

            <!-- Column 3 -->
            <div class="col-md-4 text-left">
                <h5>Menu:</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'artist-list' %}">Artists</a></li>
                    <li><a href="{% url 'record-list' %}">Releases</a></li>
                    <li><a href="{% url 'blog-list' %}">News</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Local Talk. All rights reserved.</p>
            </div>
            <div class="col-md-12 text-center">
    <p><a href="https://www.kode-s.nu" target="_blank" class="footer-link">Website powered by Kode-S.</a></p>
</div>

        </div>
    </div>
</footer>

    <!-- Add the Bootstrap JS scripts here (using CDN) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>

