{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>News</h1>
    <div>
        {% for blog_post in blog_posts %}
        <div class="blog-item">
            <div class="blog-preview">
                {% if blog_post.image %}
                <img class="blog-image" src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}">
                {% endif %}
                <div class="blog-info">
                    <h2>{{ blog_post.title }}</h2>
                    <a href="#post-{{ blog_post.pk }}" class="custom-link" onclick="toggleContent('post-{{ blog_post.pk }}')">Read More</a>
                    <div id="post-{{ blog_post.pk }}" class="blog-content">
                        <p>{{ blog_post.content }}</p>
                        {% if blog_post.link_button %}
                        <a href="{{ blog_post.link_button }}" class="custom-link">Link</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
         <!-- Green line -->
        <div class="green-line"></div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'scripts.js' %}"></script>
{% endblock %}

