{% extends 'base.html' %}

{% block content %}
<!-- latest news -->
{% if latest_blog_posts %}
<div class="latest-news">
    <h2 class="news-section-title">News</h2>
    <div class="row">
        {% for post in latest_blog_posts %}
        <div class="col-md-6">
            <div class="news-item">
                <div class="news-content">
                    {% if post.image %}
                    <img class="news-image img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                    <div class="news-text">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content|truncatewords:50 }}</p>
                        <a href="/blog/#post-{{ post.pk }}" class="read-more-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Green line -->
<div class="green-line"></div>

<!-- Latest Releases section -->
<section class="latest-releases">
    <div class="container">
        <h2>Latest Releases</h2>
        <div class="row">
            {% for release in latest_releases %}
            <div class="col-md-3 track-item mb-4">
                {% if release.cover_image %}
                <img src="{{ release.cover_image.url }}" alt="{{ release.title }}" class="img-fluid">
                {% endif %}
                <h3 class="track-title">{{ release.title }}</h3>
                <p>{{ release.track_details }}</p>
                <div class="release-links">
                    <a href="{{ release.download_link }}" class="download-link">Download - £{{ release.download_price }}</a>
                </div>
                <div>
                    <a href="{{ release.vinyl_link }}" class="vinyl-link">Vinyl - £{{ release.vinyl_price }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Green line -->
<div class="green-line"></div>

<!-- Albums section -->
<section class="albums">
    <div class="container">
        <h2>Albums</h2>
        <div class="row">
            {% for album in albums %}
            <div class="col-md-3 track-item">
                {% if album.cover_image %}
                <img src="{{ album.cover_image.url }}" alt="{{ album.title }}" width="250" height="250">
                {% endif %}
                <h3 class="track-title">{{ album.title }}</h3>
                <div class="release-links">
                    <a href="{{ album.download_link }}" class="download-link">Download - £{{ album.download_price }}</a>
                </div>
                <div>
                    <a href="{{ album.vinyl_link }}" class="vinyl-link">Vinyl - £{{ album.vinyl_price }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Green line -->
<div class="green-line"></div>

<!-- Singles section -->
<section class="singles">
    <div class="container">
        <h2>Singles</h2>
        <div class="row">
            {% for single in singles %}
            <div class="col-md-3 track-item">
                {% if single.cover_image %}
                <img src="{{ single.cover_image.url }}" alt="{{ single.title }}" width="250" height="250">
                {% endif %}
                <h3 class="track-title">{{ single.title }}</h3>
                <div class="release-links">
                    <a href="{{ single.download_link }}" class="download-link">Download - £{{ single.download_price }}</a>
                </div>
                <div>
                    <a href="{{ single.vinyl_link }}" class="vinyl-link">Vinyl - £{{ single.vinyl_price }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Green line -->
<div class="green-line"></div>
{% endblock %}
